.header_film {
    --search-button-width: 40px;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 61px;
    display: flex;
    // text-align: center;
    align-items: center;
    background: #6699ff;
}
.navbar_film {
    display: flex;
    margin: 0 auto;
    width: 1024px;

    .title_film {
        font-size: 22px;
        padding-top: 1px;
        color: #ff0000;
        margin-top: 6px;
        font-weight: 700;
        text-decoration: none;
    }
}
.List_item-classify {
    display: flex;
    padding-top: 11px;
    margin-left: 20px;
    align-items: center;
    list-style: none;
    color: #fff;
}
.item_link-classify {
    color: #fff;
    text-decoration: none;
    list-style: none;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 14px;
    margin-top: 16px;
    text-transform: uppercase;
    margin-left: 40px;
    font-size: 14px;
    cursor: pointer;
}

// .menu_settings {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     text-align: center;
//     margin-right: 100px;

//     button {
//         background-color: transparent;
//         border: none;
//     }
// }

.bar_settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
// Icon Bars
.bar_menu {
    margin-left: 36px;
    background-color: transparent;
    width: 30px;
    margin-top: 2px;
    border: none;
    outline: none;
}
.icon-bars {
    font-size: 25px;
    color: #fff;
}
.Menu_settings-box {
    width: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
}
.menu_setting-item {
    text-decoration: none;
    padding: 5px 10px;
    color: black;
}
.menu_setting-item:hover {
    background-color: #ccc;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

// Accounts
.account_box {
    width: 40px;
    height: 40px;
    background-color: transparent;
    margin-left: 40px;
    margin-top: 4px;
}
.account {
    width: 40px;
    height: 40px;
    outline: none;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 1px solid #eee;
    box-shadow: 0 0 5px #aaaaaa;

    .icon_account {
        color: #ccc;
        font-size: 20px;
    }
}
