.header_film {
    --search-button-width: 40px;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 61px;
    display: flex;
    // text-align: center;
    align-items: center;
    background: #fff;
}
.navbar_film {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;

    .title_film {
        font-size: 18px;
        padding-top: 1px;
        color: #ff0000;
        margin-top: 16px;
        font-weight: 700;
        text-decoration: none;
    }
}
.List_item-classify {
    display: flex;
    padding-top: 11px;
    margin-left: 20px;
    align-items: center;
    list-style: none;
    color: #666666;

    li {
        margin-top: 8px;
        margin-left: 20px;
        text-align: center;
        align-items: center;
    }

    li:hover {
        background-color: #ffcc00;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
}
.item_link-classify {
    color: #666666;
    text-decoration: none;
    list-style: none;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 5px 10px;
    line-height: 14px;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.name_option {
    margin-left: 6px;
}

// .menu_settings {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     text-align: center;
//     margin-right: 100px;

//     button {
//         background-color: transparent;
//         border: none;
//     }
// }

.bar_settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
// Icon Bars
.bar_menu {
    margin-left: 36px;
    background-color: transparent;
    width: 30px;
    margin-top: 2px;
    border: none;
    outline: none;
}
.icon-bars {
    font-size: 25px;
    color: #666666;
}
.Menu_settings-box {
    width: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
}
.menu_setting-item {
    text-decoration: none;
    padding: 5px 10px;
    color: black;
}
.menu_setting-item:hover {
    background-color: #ccc;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

// Accounts
.account_box {
    width: 40px;
    height: 40px;
    background-color: transparent;
    margin-left: 40px;
    margin-top: 10px;
}
.account {
    width: 40px;
    height: 40px;
    outline: none;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 1px solid #eee;
    box-shadow: 0 0 5px #aaaaaa;

    .icon_account {
        color: #ccc;
        font-size: 20px;
    }
}
.bar_menu-icon {
    font-size: 25px;
    margin-top: 18px;
    display: none;
}
// media screen
@media screen and (max-width: 1080px) {
    .List_item-classify {
        display: none;
    }
    .bar_settings {
        display: none;
    }
    .account_box {
        display: none;
    }
    .bar_menu-icon {
        display: block;
        cursor: pointer;
        margin-bottom: 5px;
    }
    .title_film {
        margin-right: 20px;
        margin-bottom: 10px;
    }
}

// Hiển thị trên mobile
.header_mobile {
    display: none;
    flex-direction: column;
    position: fixed;
    right: 0;
    z-index: 22000;
    background-color: #fff;
    box-shadow: 10px 10px 5px #aaaaaa;
    width: 280px;
    height: 1320px;
    padding: 20px;
    animation: fadeIn ease-in-out 0.8s;

    .title_film {
        text-decoration: none;
        color: red;
        font-weight: 700;
    }

    .List_item-mobile {
        display: flex;
        flex-direction: column;
        list-style: none;
        li:hover {
            width: 90px;
            padding: 0 5px;
            background-color: #ffcc00;
            border-bottom-left-radius: 25px;
            border-bottom-right-radius: 25px;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
        }
    }

    .item_link-mobile {
        text-decoration: none;
    }
}
.info_mobile {
    display: flex;
    justify-content: space-around;
}
.close_icon {
    cursor: pointer;
    font-size: 25px;
}
.shadows_block {
    position: fixed;
    top: 0;
    z-index: 20000;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333;
    opacity: 0.5;
}

@keyframes fadeIn {
    from {
        right: -300px;
    }
    to {
        right: 0;
    }
}
