.create_film {
    margin-top: 90px;
    position: fixed;
    padding-bottom: 20px;
    border-radius: 5px;
    width: 1000px;
    background-color: #fff;
}
// .scrollable {
//     overflow: auto;
//     width: 70px; /* adjust this width depending to amount of text to display */
//     height: 80px; /* adjust height depending on number of options to display */
//     border: 1px silver solid;
// }
