.container {
    background-color: red;
    margin-bottom: 1000px;
}
.container_category {
    width: 100%;
    padding-left: 80px;
    padding-right: 30px;
    margin: 30px auto 0 auto;
    margin-bottom: 330px;
}

// Movie Item
.item_movie {
    text-decoration: none;
    display: block;
    border-radius: 6px;
    overflow: hidden;
    width: 100%;
    height: 475px;
    box-shadow: 0 0 5px #aaaaaaaa;
}
.item_movie:hover {
    box-shadow: 0 0 20px #aaaaaaaa;
}
.item_movie:hover .image_movie {
    transform: scale(1.1);
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.item_image {
    width: 100%;
    height: 377px;
    overflow: hidden;
    .image_movie {
        width: 100%;
        height: 100%;
        transition: all 0.2s ease-in-out;
        object-fit: cover;
    }
}

.infor_item-movie {
    background-color: var(--primary-black);
    padding: 12px 16px;
    height: 100%;
    .title_movie-item {
        font-size: 18px;
        font-weight: 500;
        width: 120px;
        white-space: nowrap;
        -webkit-line-clamp: 1; /* số dòng hiển thị */
        -webkit-box-orient: horizontal;
        overflow: hidden;
        text-overflow: ellipsis;
        color: var(--primary-white);
        line-height: 18px;
        margin-bottom: 4px;
    }
    .actor_movie-item {
        font-size: 14px;
        width: 20px;
        white-space: nowrap;
        -webkit-line-clamp: 1; /* số dòng hiển thị */
        -webkit-box-orient: horizontal;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #aaaaaa;
        font-weight: 500;
        line-height: 16px;
    }
}

// Time and Stars
.time_zone-item {
    display: flex;
    position: relative;
    margin-top: 4px;
    padding-left: 2px;
    align-items: center;

    .all_block-zone {
        display: flex;
        width: 100%;
        justify-content: space-between;

        .time_item {
            display: flex;
            align-items: center;
            .clock_icons {
                color: #aaaaaa;
                margin-top: 4px;
                margin-right: 4px;
            }

            .time {
                margin-top: 2px;
                font-size: 14px;
                color: #aaaaaa;
                font-weight: 550;
            }
        }
    }

    .stars_movie-item {
        display: flex;
        padding-left: 16px;
        align-items: center;

        .star_icon {
            font-size: 12px;
            color: #ffcc00;
        }
    }
}

@media screen and (max-width: 875px) {
    .infor_item-movie {
        padding: 12px;
    }
    .stars_movie-item {
        padding-left: 0 !important;
        margin-top: 4px;
    }
}
// Phân trang
.Pagination_page {
    margin: 20px 0;
    position: relative;
    .item_Pagi {
        margin: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}
.title_search {
    color: var(--primary-white);
    margin-left: 8px;
    margin-bottom: 20px;
}
