.option_PC-right {
    display: flex;
    align-items: center;
    text-align: center;

    // Accounts
    .account_box {
        cursor: pointer;
        width: 40px;
        overflow: hidden;
        height: 40px;
        background-color: transparent;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        border: 1px solid #eee;
        box-shadow: 0 0 5px #aaaaaa;
        .icon_account {
            color: #ccc;
            font-size: 20px;
        }
    }
}
.login_to-account {
    display: flex;
    align-items: center;
    p {
        margin: 0;
        padding: 0;
        margin-right: 10px;
    }
}
.image_account {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bar_settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
// Icon Bars
.bar_menu {
    margin-left: 36px;
    background-color: transparent;
    width: 30px;
    margin-top: 2px;
    border: none;
    outline: none;
}
.icon-bars {
    font-size: 25px;
    color: #666666;
}
.Menu_settings-box {
    width: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    text-align: left;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.menu_setting-item {
    text-decoration: none;
    padding: 5px 10px;
    color: black;
}
.menu_setting-item:hover {
    background-color: #ccc;
}

.bar_menu-icon {
    font-size: 25px;
    margin-top: 18px;
    display: none;
}

@media screen and (max-width: 1080px) {
    .option_PC-right {
        display: flex;
        position: absolute;
        right: 10px;
    }
}
