.list_film {
    width: 1024px;
    position: relative;
    height: 550px;
    margin: 80px auto 0 auto;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px 0;
}
.Request_film {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    justify-content: space-between;
}
.trash_film {
    .icon_trash {
        margin-left: 5px;
        color: orange;
    }
}
.button_create-film {
    .icon_create {
        font-size: 20px;
        color: #000;
        margin-right: 5px;
    }
    button {
        outline: none;
        border: none;
        border-radius: 5px;
        padding: 5px;
        background-color: #ff4500;

        &:hover {
            background-color: red;
        }
    }
}
.Pagination_page {
    margin-top: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
