.option_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .title_film {
        font-size: 18px;
        color: #ff0000;
        font-weight: 700;
        text-decoration: none;
    }
}

@media screen and (max-width: 1080px) {
    .option_left {
        margin-left: 10px;
    }
}
