* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1200px;
    margin: 62px auto 0 auto;
}

// Popular movie
.Popular {
    width: 100%;
    height: 550px;
    margin-bottom: 40px;
    .image_popular {
        width: 100%;
        height: 100%;
        position: relative;
        object-fit: cover;
    }
    box-shadow: 0 0 5px #aaaaaaaa;
}
.infor {
    position: absolute;
    top: 30%;
    left: 12%;
    padding: 10px 5px;

    .name {
        font-weight: 600;
        color: #fff;
    }
    .description {
        color: #ccc;
    }
}
.btn_move {
    display: block;
    margin-top: 40px;
    color: #333;
    padding: 10px 20px;
    width: 150px;
    border-radius: 30px;
    background-color: #ffcc00;
    .icon_play {
        margin-left: 5px;
    }
    cursor: pointer;
}
.btn_move:hover {
    color: #333;
}

// Movie Item
.item_movie {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 544px;
    box-shadow: 0 0 5px #aaaaaaaa;
}
.item_movie:hover {
    box-shadow: 0 0 20px #aaaaaaaa;
}
.item_movie:hover .image_movie {
    transform: scale(1.1);
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.item_image {
    width: 100%;
    height: 423px;
    overflow: hidden;
    .image_movie {
        width: 100%;
        height: 100%;
        transition: all 0.2s ease-in-out;
        object-fit: cover;
    }
}

.infor_item-movie {
    padding: 24px;
    .title_movie-item {
        font-size: 18px;
        font-weight: 700;
        width: 120px;
        white-space: nowrap;
        -webkit-line-clamp: 1; /* số dòng hiển thị */
        -webkit-box-orient: horizontal;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #333;
        margin-bottom: 0;
        line-height: 18px;
    }
    .actor_movie-item {
        font-size: 14px;
        color: #aaaaaa;
        font-weight: 500;
        line-height: 16px;
    }
}

// Time and Stars
.time_zone-item {
    display: flex;
    position: relative;
    padding-top: 10px;
    padding-left: 2px;
    align-items: center;

    .all_block-zone {
        display: flex;

        .time_item {
            display: flex;
            align-items: center;
            .clock_icons {
                color: #aaaaaa;
                margin-top: 4px;
                margin-right: 4px;
            }

            .time {
                margin-top: 2px;
                font-size: 14px;
                color: #aaaaaa;
                font-weight: 550;
            }
        }
    }

    .stars_movie-item {
        display: flex;
        padding-left: 16px;
        align-items: center;

        .star_icon {
            font-size: 12px;
            color: #ffcc00;
        }
    }
    .next_icon {
        position: absolute;
        right: -12px;
        font-size: 20px;
    }
}

@media screen and (max-width: 875px) {
    .infor_item-movie {
        padding: 12px;
    }
    .all_block-zone {
        flex-direction: column;
    }
    .stars_movie-item {
        padding-left: 0 !important;
        margin-top: 4px;
    }
    .next_icon {
        right: 2px !important;
    }
}
// Phân trang
.Pagination_page {
    margin: 20px 0;
    position: relative;
    .item_Pagi {
        margin: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}
