.container {
    min-height: 100vh;
}
.form_container {
    max-width: 400px;
    margin-top: 100px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
    background-color: var(--primary-white);
    border-radius: 5px;
    display: flex;
    z-index: 500;
    flex-direction: column;
    animation: fadeIn ease-in-out 0.8s;
    padding: 20px 40px;
    border: 1px solid #eee;
    box-shadow: 0 0 20px #aaaaaa;
}

// .form_center {
//     width: 400px;
//     height: 500px;
//     background-color: var(--primary-white);
//     border-radius: 5px;
//     position: fixed;
//     display: flex;
//     flex-direction: column;
//     padding: 40px;
//     border: 1px solid #eee;
//     box-shadow: 0 0 20px #aaaaaa;
// }

@media screen and (max-width: 485px) {
    // Thay đổi class của form , hiển thị khi màn hình nhỏ hơn hoặc bằng 485px
    .form_center {
        width: 280px;
        position: fixed;
        height: 500px;
        background-color: var(--primary-white);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        right: 0;
        z-index: 300;
        border: 1px solid #eee;
        top: 0;
        padding: 40px;
        box-shadow: 0 0 20px #aaaaaa;
        animation: fadeMove ease-in-out 0.8s;
        transform: none;
    }
    .facebook {
        width: 110px !important;
        position: relative;
        height: 40px;
        display: flex;
        span {
            display: none;
        }
        .icon {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 30%;
            transform: translate(-50%, -50%);
        }
    }
    .google {
        span {
            display: none;
        }
        .icon {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .input_text {
        padding: 10px !important;
    }
}
@keyframes fadeMove {
    from {
        right: -280px;
    }
    to {
        right: 0;
    }
}
.title {
    text-align: center;
}

.info {
    display: flex;
    margin-top: 10px;
    width: 100%;
    position: relative;
    .input_text {
        width: 100%;
        padding: 10px 20px;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: 1px solid var(--primary-black);
        outline: none;
    }
}
.icon_checkPass {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.btn_submit {
    padding: 10px 20px;
    border-radius: 6px;
    width: 100%;
    margin-top: 10px;
    color: var(--primary-white);
    background-color: #ff0000;
    border: none;
    outline: none;
}
.sign_up-hear {
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
.forgot_pass {
    margin-top: 10px;
}
.box_tooltip {
    background-color: #222;
    color: var(--primary-white);
    padding: 10px 5px;
    border-radius: 5px;
}

//

// Kết nối qua các ứng dụng
.facebook_login {
    display: flex;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 10px;
}
.form_connect-social {
    display: inline-flex;
    margin-top: 30px;
    flex-direction: column;
    margin-bottom: 20px;
}
.facebook_icon {
    width: 20%;
    background-color: blue;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--primary-white);
    justify-content: center;
}
.facebook_css {
    width: 280px;
    text-align: left;
    padding-left: 10px;
    background-color: blue;
    color: var(--primary-white);
    height: 40px;
}
.google {
    border-radius: 6px;
    margin-left: 20px;
    width: 160px;
    color: var(--primary-white);
    padding: 10px 5px;
    background-color: #fbbc05;
    .icon {
        font-size: 18px;
        margin-right: 10px;
    }
    border-radius: 5px;
}

// Form sending Email

.form_sending-email {
    max-width: 400px;
    margin: 100px auto;
    height: 300px;
    background-color: var(--primary-white);
    border-radius: 5px;
    display: flex;
    z-index: 500;
    flex-direction: column;
    animation: fadeIn ease-in-out 0.8s;
    padding: 20px 40px;
    border: 1px solid #eee;
    box-shadow: 0 0 20px #aaaaaa;
}
.icon_mail {
    font-size: 40px;
}

.text_forgot {
    text-align: center;
}
.text_description {
    text-align: center;
    font-size: 18px;
}
.btn_sending-email {
    padding: 10px 20px;
    border-radius: 6px;
    width: 100%;
    margin-top: 10px;
    color: var(--primary-white);
    border: none;
    outline: none;
    background-color: #0099ff;
}

.option_other {
    display: flex;
    justify-content: space-between;

    .come_login {
        color: blue;
        margin: 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: pointer;

        span {
            margin-left: 8px;
            margin-bottom: 4px;
        }
    }
    .come_register {
        color: blue;
        margin: 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: pointer;

        span {
            margin-bottom: 4px;
            margin-right: 8px;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
