.Container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
}
.form {
    width: 500px;
    height: 600px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    padding: 40px 80px;
}
.title {
    text-align: center;
}
.form_connect-social {
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
}
.facebook {
    width: 160px;
    color: #fff;
    padding: 12px 32px;
    background-color: #3b5998;
    .icon {
        font-size: 18px;
        margin-right: 10px;
    }
    border-radius: 5px;
}
.google {
    margin-left: 20px;
    width: 160px;
    color: #fff;
    padding: 12px 32px;
    background-color: #fbbc05;
    .icon {
        font-size: 18px;
        margin-right: 10px;
    }
    border-radius: 5px;
}
.info {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    .input_text {
        padding: 10px 20px;
        background: #e6e6fa;
        border: none;
        outline: none;
        border-radius: 5px;
    }
}
.btn_submit {
    padding: 10px 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    margin-top: 30px;
    color: #fff;
    background-color: #ff0000;
    border: none;
    outline: none;
}
.sign_up-hear {
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
