.container {
    // Node ở Đây Đã
    width: 100%;
    overflow: hidden;
    height: 2200px;
    background: #fff;
    line-height: 1.428571429;
    border: none;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    object-fit: cover;
    background-repeat: no-repeat;
}
.content {
    width: 100%;
    margin: 0 auto;
}
